<div class="container bg-white">
    <div class="row-fluid">

        <div class="featured-images">
            <div class="block-content">
                <h1>Refer a friend</h1>
                <p>
                    Share your unique link via email, Facebook or twitter and earn free rewards for each frind that signs up.
                    <input type="text" value="{{default_url}}?referralId={{referralCode}}" />
                    </p>
                    <p>
                    <a href="http://www.facebook.com/sharer/sharer.php?u={{default_url}}?referralId={{referralCode}}&title=Waldo">facebook</a>
                    <a href="http://twitter.com/share?url={{default_url}}?referralId={{referralCode}}&text={{twitter_message}}">twitter</a>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>